<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Update a player
        </h1>
        <div class="view-switch1" *ngIf="!selected">
            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                    <span>Select a player</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item" *ngFor="let player of players | keyvalue">
                        <a class="list-menu">
                          <p class="list-menu-item" (click)="switchView(player.key)">{{ player.key }}</p>
                        </a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="view-switch2" *ngIf="selected">
            <div class="field-inputs">
                <input #playerInput class="input has-background-light is-medium" type="text" [placeholder]="playerName" readonly="readonly">
                <input #rushingYardsInput class="input has-background-light is-medium" type="text" placeholder="Enter Rushing Yards...">
                <input #touchdownsThrownInput class="input has-background-light is-medium" type="text" placeholder="Enter Touchdowns Thrown...">
                <input #sacksInput class="input has-background-light is-medium" type="text" placeholder="Enter Sacks...">
                <input #madeFieldGoalsInput class="input has-background-light is-medium" type="text" placeholder="Enter Made Field Goals...">
                <input #missedFieldGoalsInput class="input has-background-light is-medium" type="text" placeholder="Enter Missed Field Goals...">
                <input #catchesMadeInput class="input has-background-light is-medium" type="text" placeholder="Enter Catches Made...">
            </div>
            <br><br>
            <div class="buttons is-right">
                <button class="button is-medium" routerLink="/">
                    Cancel
                </button>
                <button class="button is-primary has-text-white is-medium" (click)="updatePlayer([playerInput.value, rushingYardsInput.value, touchdownsThrownInput.value, sacksInput.value, madeFieldGoalsInput.value, missedFieldGoalsInput.value, catchesMadeInput.value])">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>